<!DOCTYPE html>
<html>

<head>
  <title>Vheeler</title>
  <link rel="stylesheet" href="/reset.css" />
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
  
<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script type="text/javascript" src="/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" type="text/css" href="/bootstrap-multiselect.css">

  <link rel="stylesheet" href="./style-dash.css" />

  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
  <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5wf7Rinv6cHBcdQ-yUYTbpv8zEg2IeTA">
    </script>

  
</head>
<body>

<script type="text/javascript">
  if($.cookie('userId')!=null){
    window.location.href = "/dashboard";
  }

</script>

<div class="page">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example- navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
        <ul class="nav navbar-nav">
          <li class=""><a href="#">Contact Us</a></li>
        </ul>
      
        <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
        
        </ul> -->
      <!-- </div> --><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="brand">
    <!-- <img class="navbar-logo" src="/Vheeler-1.png"> -->
  </div>

  <div class="login-box">
    <p>USERNAME: <input type="text" id="username" class="float-right"> </p>
    <p>PASSWORD: <input type="password" id="password" class="float-right"></p>
    <p>&nbsp; <button type="button" id="submitlogin" class="float-right">Submit</button> <img src="/loading.gif" class="float-right loading-icon" ></p>
  </div>
</div>




<script type="text/javascript">

	var apiPath = "<%= @base_api %>";
	$( document ).ready(function() {

		$( "#submitlogin" ).click(function() {
  			if($.isEmptyObject($("#username").val()) || $.isEmptyObject($("#password").val())){
  				alert("enter username and password");
  				return;
  			}

  			var username = $("#username").val();
  			var password = $("#password").val();

  			$.ajax({
                method: "GET",
                dataType: 'json',
                async: false,
                url: "/login?userName=" + username + "&password=" + password ,
                beforeSend: function() {
                  $(".loading-icon").show();
                },
                success: function (data) {
                    console.log(data);
                    $.cookie('userId',data.json.userId);
                    window.location.href = "/dashboard";

                },
                error: function(jqXHR, textStatus){
                    console.log("error");
                    //
                    //
                    //
                },
                complete: function() {
                  
                  $(".loading-icon").hide();
                }
            });

		});


	});
</script>
</body>